@media (max-width: 640px) {
    table {
        overflow-x: auto; /* Ajoute une barre de défilement horizontale si nécessaire sur de petits écrans */
    }

    td, th {
        min-width: 50px;
        font-size: 12px;
        font-weight: 500; 
    }
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(#e66465, #ddd, #aaf, #9198e5);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Supprime la barre de défilement */
}

.container {
    text-align: center;
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}